.container {

  .headerCart {
    color: #57b959;
    font-weight: bold;
    display: flex;
    height: 50px;
    align-items: center;
  }

  .itemCart {
    align-items: center;
    height: fit-content;

    .col-3 h5 {
      flex: 1;
    }

    img {
      align-items: start;
      width: 80px;
      height: 80px;
    }
  }
}