$height: 50px;

.containerMenuBar {
  background-color: deeppink;
  height: $height;

  div {
    display: inline-block;
    color: white;
    margin-left: 20px;
    margin-right: 20px;
    line-height: $height;
  }
}