.header {
  div {
    display: inline-block;
    margin-left: 20px;
    margin-right: 20px;
  }

  .searchBar {
    .btnSearch {
      background-color: orange;
      width: 30px;
      height: 30px;
      border-radius: 5px;
    }
  }

}