.product-detail {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
}

.product-detail .left-column {
    flex: 1;
    padding-right: 20px;
}

.product-detail .right-column {
    flex: 2;
    display: flex;
    flex-direction: column;
}

.large-image {
    max-width: 100%;
    height: 300px;
    width: 300px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
}

.thumbnail-images {
    display: flex;
    gap: 10px;
}

.thumbnail-images img {
    width: 60px;
    height: 60px;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
}

.details {
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.details h2.product-name {
    font-size: 24px;
    margin-bottom: 10px;
    align-self: flex-start;
}

.details .info-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}

.details .quantity-selector {
    display: flex;
    align-items: center;
}

.details .quantity-selector label {
    font-weight: bold;
    margin-right: 10px;
}

.details .quantity-selector input {
    width: 50px;
    padding: 5px;
    font-size: 16px;
}

.details .price {
    font-size: 20px;
    font-weight: bold;
    display: flex;

}

.details .product-info {
    color: #595757;
    font-style: italic;
    margin-top: 10px;
    align-self: start;
}

.details .btn-add-to-cart {
    background-color: #ff6d5e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    width: 200px;
    display: flex;
    border-radius: 5px;
    cursor: pointer;
    font-size: 18px;
    align-self: center;
}

.details .btn-add-to-cart:hover {
    background-color: #cc574b;
}
