.d-flex{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 200px;
  overflow: hidden;
}
.card-body {
  .btn{
    width: 200px;
  }

  .btn-danger {
    background-color: #f55d6b;
  }
}

